<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.contextClassLoaderSource">library</property>
        <property name="hibernate.c3p0.dataSourceName">pg_bfkjs</property>
        <property name="hibernate.c3p0.idle_test_period">120</property>
        <property name="hibernate.c3p0.max_size">80</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.privilegeSpawnedThreads">true</property>
        <property name="hibernate.c3p0.timeout">25000</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">Wang1980</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:33133/finance</property>
        <property name="hibernate.connection.username">finance</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="gov.cqaudit.finance.hibernate.entities.BillDBack"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.SysDept"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.SysUser"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VPicture"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VDataTransD"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VSearchPublicCustomAccount"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.BusinessSearchPar"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.DataCorePublicAcountInfo"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.SysLog"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VStatisticsBillsResultByType"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VDataTransM"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.DataCorePrivateCustomBase"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.SysUserRole"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VDataCorePrivateAccountTradeDetail"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VDataCorePrivateAccountInfo"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VStatisticsBillsResult"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VUserMenuD"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.DataCorePrivateAccountInfo"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.UserViewResultLog"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.Picture"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VUserViewResultLog"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VDataCorePublicAccountTradeDetail"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VUserMenuM"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.CatalogTableField"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.DataCorePrivateAccountTradeDetail"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VBillDBack"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.SysCode"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VDataCorePublicAccountInfo"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.CatalogTable"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VBillM"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.DataTransBack"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.BillM"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VDataCorePublicCustomBase"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.BillD"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.DataCorePublicCustomBase"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VBillD"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.DataTransM"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VDataTransBack"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.UserPar"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.DataTransD"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VSearchPrivateCustomAccount"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VBusinessSearchPar"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VDataCorePrivateCustomBase"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.SysRole"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VSysUser"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.MenuM"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.VSysDept"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.DataCorePublicAccountTradeDetail"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.SysRoleMenuD"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.SysPar"/>
        <mapping class="gov.cqaudit.finance.hibernate.entities.MenuD"/>
    </session-factory>
</hibernate-configuration>
